.menu {
  margin: 0;
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu__title {
  margin: 100px 0 24px 0;
  display: flex;
  justify-content: center;
  max-width: 780px;
  color: #fff;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  margin: 0 0 100px 0;
  color: #fff;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-weight: normal;
}

.menu__cards {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
  width: 100%;
}
