.recipes {
  background-color: #fff;
  background-image: url("../images/background_recipes.svg");
  background-size: cover;
  background-position: center;
}

.recipes__title {
  max-width: 580px;
  margin: 0;
  padding: 100px 0 0 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0;
  padding: 24px 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 80px 0 215px 0;
  margin: 0;
  justify-content: center;
  column-gap: 40px;
}

.recipes__video {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  margin: 0;
  padding: 24px 0 0 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
