.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
}

.reservation__title {
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 100px 0 80px 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  max-width: 385px;
  margin: auto;
  padding-bottom: 120px;
}
